<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send new chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Send new chat</h2>
    <form method="post" action="/chats">
        <input type="text" name="to" placeholder="Send To">
        <br>
        <input type="text" name="from" placeholder="From">
        <br>
        <textarea placeholder="Message" name="msg"></textarea>
        <br>
        <button style="background-color:#FFDE63; height: 40px; width: 150px; border:none; border-radius: 4px; ">Send message</button>
    </form>
</body>
</html>